@import url("https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sketchy/bootstrap.min.css");

@import "basics/_links.scss";
@import "basics/_mixins.scss";
@import "basics/_animations.scss";
@import "basics/_inputs";
@import "basics/_positionings.scss";
@import "basics/_buttons.scss";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

.main-container {
  height: calc(100vh - 60px);
  max-width: 1200px;
  margin: 0 auto;
  
}
.card {
  background-color: var(--white) !important;
  color: var(--pitch-dark) !important;
}
:root {
  --pitch-dark: black;
  --active-page: black;
  --page-link--hover: black;
  --header-color: #212529
}
