@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sketchy/bootstrap.min.css');

@import "basics/_links.scss";
@import "basics/_mixins.scss";
@import "basics/_animations.scss";
@import "basics/_inputs";
@import "basics/_positionings.scss";
@import "basics/buttons.scss";



#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
