@import url(https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sketchy/bootstrap.min.css);
.header[data-v-49e03adb] {
  border-style: unset;
}
.header__brand[data-v-49e03adb] {
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}
.header__link[data-v-49e03adb] {
    color: white;
}
.header__link[data-v-49e03adb]:hover {
      color: black !important;
}

.session-expired-alert[data-v-19564561] {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  /* Hidden by default */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.session-expired-alert__content[data-v-19564561] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
}
.session-expired-alert__content__message[data-v-19564561] {
      margin-bottom: unset !important;
      padding: 50px 20px;
      border: 2px solid;
}

.active-page {
  color: black !important;
}
@-webkit-keyframes slideInFromLeft {
0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}
100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
}
@keyframes slideInFromLeft {
0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
}
100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
}
}
.slide--in--from--left {
  -webkit-animation: 1s ease-out 0s 1 slideInFromLeft;
          animation: 1s ease-out 0s 1 slideInFromLeft;
}
.text--input {
  padding: 6px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.flexmid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.button--loading {
  opacity: 0.6 !important;
}
.show--button--loading--icon {
  display: block !important;
}
.hide--button--loading--icon {
  display: none;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notes[data-v-1604ea1d] {
  padding: 50px 0;
  width: 100%;
}
.notes__empty[data-v-1604ea1d] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: calc(100vh - 600px);
}
.notes__empty__image[data-v-1604ea1d] {
      width: 100px;
}
.notes__empty__message[data-v-1604ea1d] {
      padding-top: 30px;
      text-align: center;
}
.notes__content[data-v-1604ea1d] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.notes__content__cards[data-v-1604ea1d] {
      width: 100% !important;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      -ms-flex-flow: wrap;
          flex-flow: wrap;
}
.notes__content__card[data-v-1604ea1d] {
      max-width: 15rem;
      min-width: 15rem;
      margin: 10px;
}
.notes__content__card__footer[data-v-1604ea1d] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
}
@media screen and (max-width: 768px) {
.notes__content__card[data-v-1604ea1d] {
    max-width: 10rem;
    min-width: 10rem;
}
}

.posts-container[data-v-b8e778fc] {
  padding-top: 50px;
}
.posts-container .posts[data-v-b8e778fc] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.posts-container .posts__header[data-v-b8e778fc] {
      margin-bottom: 50px;
      font-weight: bold;
}
.posts-container .posts__create-form[data-v-b8e778fc] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
}
.posts-container .posts__create-form__inputgroup[data-v-b8e778fc] {
        -ms-flex-wrap: unset;
            flex-wrap: unset;
}
.posts-container .posts__create-form__input[data-v-b8e778fc] {
        width: 500px;
}
.posts-container .posts__content[data-v-b8e778fc] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
}
.posts-container .posts__content__card[data-v-b8e778fc] {
        margin: 20px;
}
.posts-container .posts__content__card__footer[data-v-b8e778fc] {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
}
@media screen and (max-width: 768px) {
.posts-container .posts__create-form__input[data-v-b8e778fc] {
    width: 250px;
}
.posts-container .posts__content[data-v-b8e778fc] {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
}


/*# sourceMappingURL=app.6e17e309.css.map*/