.notes-container {
  padding-top: 50px;
  .notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header {
      margin-bottom: 50px;
      font-weight: bold;
      color: var(--header-color);
    }
    &__create-form {
      display: flex;
      justify-content: center;
      align-items: center;
      &__inputgroup {
        flex-wrap: unset;
      }
      &__input {
        width: 500px;
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      &__card {
        margin: 20px;
        &__footer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .notes-container {
    .notes {
      &__header {
      }
      &__create-form {
        &__input {
          width: 250px;
        }
      }
      &__content {
        justify-content: center;
        &__card {
        }
      }
    }
  }
}
