.container {
  display: flex;
  justify-content: center;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border-radius: 4px;
  &__errors{
    margin-bottom: 10px;
    height: 50px;
    &__error {
      align-self: center;
      padding: 20px;
      margin-bottom: 10px;
      background-color: palevioletred;
      border: 1px solid red;
      border-radius: 4px;
      font-size: 14px;
      color: white;
      width: 260px;
    }
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    &__text {
      width: 284px;
      border-radius: 4px;
    }
  }
  &__button {
    margin-top: 20px;
    width: 300px;
    border-radius: 4px;
  }
}
