.container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 30px);
}
.login-form {
  width: 30%;
  &__header {
    text-align: center;
    padding-bottom: 30px;
  }
  &__errors{
    padding: 10px 0;
  }
  &__button {
    width: 100%;
  }
}
