.login-container {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 30px);
  padding-top: 50px;

  &:after {
    content: "";
    background: url('~@/assets/takingnotes.jpg') no-repeat fixed center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.login-form {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 30px;
  &__header {
    text-align: center;
    padding-bottom: 30px;
  }
  &__errors{
    padding: 10px 0;
  }
  &__button {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .login-container {
    padding-top: 50px;
  }
  .login-form {
    width: 250px;
  }
}
