.posts-container {
  padding-top: 50px;
  .posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header {
      margin-bottom: 50px;
      font-weight: bold
    }
    &__create-form {
      display: flex;
      justify-content: center;
      align-items: center;
      &__input {
        width: 500px;
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      &__card {
        margin: 20px;
        &__footer {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .posts-container {
    width: 90%;
    .posts {
      &__header {
      }
      &__create-form {
        &__input {
        }
      }
      &__content {
        &__card {
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .posts-container {
    .posts {
      &__header {
      }
      &__create-form {
        &__input {
          width: 250px;
        }
      }
      &__content {
        justify-content: center;
        &__card {
        }
      }
    }
  }
}
