.header {
  border-style: unset;
  background-color: var(--green);
  &__brand {
    text-decoration: none;
    color: var(--light) !important;
    font-weight: bold;
  }
  &__link {
    color: var(--light);
    white-space: nowrap;
    &:hover {
      color: var(--page-link-hover) !important;
    }
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
 
    &__navbar {
      justify-content: center;
      align-items: center;
    }
    &__mode {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      float: right;
      &:hover {
        cursor: pointer;
      }
      &__img {
        width: 100%;
      }
    }
  }
}
