@import "basics/_buttons.scss";
@import "basics/_links.scss";
@import "basics/_mixins.scss";
@import "basics/_animations.scss";
@import "basics/inputs";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
